workflows/n8n-workflow-varejo.json
{
  "name": "WhatsApp Varejo - Integração Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-varejo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-varejo-hook"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Validar e extrair dados do webhook do backend\n// ═══════════════════════════════════════════════════\n\nconst body = $input.first().json;\n\n// Validar campos obrigatórios\nconst requiredFields = ['event', 'ticketId', 'companyId', 'phone'];\nfor (const field of requiredFields) {\n  if (!body[field]) {\n    return [{\n      json: {\n        success: false,\n        error: `Missing required field: ${field}`\n      }\n    }];\n  }\n}\n\n// Determinar ação baseada no evento\nconst eventActions = {\n  'message.inbound': 'process_message',\n  'order.created': 'notify_store',\n  'payment.confirmed': 'notify_customer',\n  'ticket.transferred': 'notify_attendant'\n};\n\nreturn [{\n  json: {\n    ...body,\n    action: eventActions[body.event] || 'unknown',\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-001",
      "name": "Processar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "process_message",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "process_message"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "notify_store",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "notify_store"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "notify_customer",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "notify_customer"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "notify_attendant",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "notify_attendant"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-001",
      "name": "Rotear por Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/openai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GEMINI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemini-2.0-flash\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classifique a intenção da mensagem e retorne JSON: {\\\"intent\\\": \\\"pedido|consulta|saudacao|reclamacao|humano\\\", \\\"priority\\\": \\\"alta|media|baixa\\\", \\\"sentiment\\\": \\\"positivo|neutro|negativo\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.text }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": { "timeout": 15000 }
      },
      "id": "http-001",
      "name": "Gemini: Classificar Intenção",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 150]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Processar classificação e decidir ação\n// ═══════════════════════════════════════════════════\n\nconst input = $('Processar Evento').first().json;\nconst aiResponse = $input.first().json;\n\nlet classification;\ntry {\n  classification = JSON.parse(aiResponse.choices[0].message.content);\n} catch (e) {\n  classification = { intent: 'humano', priority: 'alta', sentiment: 'neutro' };\n}\n\n// Se intenção for humano ou sentimento negativo, notificar atendente\nconst needsHuman = classification.intent === 'humano' || classification.sentiment === 'negativo';\n\nreturn [{\n  json: {\n    ...input,\n    classification,\n    needsHuman,\n    nextAction: needsHuman ? 'transfer_to_human' : 'continue_bot'\n  }\n}];"
      },
      "id": "code-002",
      "name": "Decidir Ação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/tickets/{{ $json.ticketId }}/transfer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reason\": \"humano_requested\",\n  \"classification\": {{ JSON.stringify($json.classification) }}\n}",
        "options": {}
      },
      "id": "http-002",
      "name": "Transferir para Humano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"🔔 *Novo Pedido!*\n\nCliente: {{ $json.name }}\nTelefone: {{ $json.phone }}\n\nProdutos:\n{{ $json.order.items.map(i => '• ' + i.name + ' x' + i.quantity + ' - R$ ' + i.unitPrice.toFixed(2)).join('\\n') }}\n\nTotal: R$ {{ $json.order.total.toFixed(2) }}\nEndereço: {{ $json.order.deliveryAddress }}\nPagamento: {{ $json.order.paymentMethod }}\"\n}",
        "options": {}
      },
      "id": "http-003",
      "name": "Notificar Loja (Pedido)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"✅ *Pagamento Confirmado!*\n\nSeu pedido está sendo preparado e será entregue em breve.\n\nTempo estimado: 30-45 minutos\n\nAgradecemos a preferência! 🙏\"\n}",
        "options": {}
      },
      "id": "http-004",
      "name": "Notificar Cliente (PIX)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.ATTENDANT_PHONE }}\",\n  \"text\": \"🔔 *Atendimento Solicitado*\n\nTicket: #{{ $json.ticketId }}\nCliente: {{ $json.name }}\nTelefone: {{ $json.phone }}\n\nÚltima mensagem:\n\\\"{{ $json.text }}\\\"\"\n}",
        "options": {}
      },
      "id": "http-005",
      "name": "Notificar Atendente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"processed\": \"{{ $json.action }}\" }",
        "options": {}
      },
      "id": "respond-001",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 350]
    }
  ],
  "connections": {
    "Webhook Backend": {
      "main": [[{ "node": "Processar Evento", "type": "main", "index": 0 }]]
    },
    "Processar Evento": {
      "main": [[{ "node": "Rotear por Evento", "type": "main", "index": 0 }]]
    },
    "Rotear por Evento": {
      "main": [
        [{ "node": "Gemini: Classificar Intenção", "type": "main", "index": 0 }],
        [{ "node": "Notificar Loja (Pedido)", "type": "main", "index": 0 }],
        [{ "node": "Notificar Cliente (PIX)", "type": "main", "index": 0 }],
        [{ "node": "Notificar Atendente", "type": "main", "index": 0 }]
      ]
    },
    "Gemini: Classificar Intenção": {
      "main": [[{ "node": "Decidir Ação", "type": "main", "index": 0 }]]
    },
    "Decidir Ação": {
      "main": [[{ "node": "Transferir para Humano", "type": "main", "index": 0 }]]
    },
    "Transferir para Humano": {
      "main": [[{ "node": "Resposta Webhook", "type": "main", "index": 0 }]]
    },
    "Notificar Loja (Pedido)": {
      "main": [[{ "node": "Resposta Webhook", "type": "main", "index": 0 }]]
    },
    "Notificar Cliente (PIX)": {
      "main": [[{ "node": "Resposta Webhook", "type": "main", "index": 0 }]]
    },
    "Notificar Atendente": {
      "main": [[{ "node": "Resposta Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "whatsapp" },
    { "name": "varejo" },
    { "name": "backend-integration" }
  ]
}