workflows/n8n-retail-v2.json
{
  "name": "Varejo MVP 2.0 - Assistente Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retail-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Validar e preparar contexto\n// ═══════════════════════════════════════════════════\nconst body = $input.first().json;\n\n// Dados obrigatórios\nconst required = ['companyId', 'ticketId', 'phone', 'message'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { error: `Campo obrigatório: ${field}` } }];\n  }\n}\n\nreturn [{\n  json: {\n    companyId: body.companyId,\n    ticketId: body.ticketId,\n    phone: body.phone,\n    name: body.name || null,\n    message: body.message,\n    instanceName: body.instanceName || 'default',\n    cartId: body.cartId || null,\n    step: body.step || 'greeting',\n    timestamp: Date.now()\n  }\n}];"
      },
      "id": "code-001",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/retail/cart?phone={{ $json.phone }}&companyId={{ $json.companyId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "http-001",
      "name": "Buscar Carrinho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/retail/products?companyId={{ $('Preparar Contexto').first().json.companyId }}&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "http-002",
      "name": "Buscar Catálogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/retail/loyalty/{{ $('Preparar Contexto').first().json.phone }}?companyId={{ $('Preparar Contexto').first().json.companyId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "http-003",
      "name": "Buscar Fidelidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Montar prompt para Gemini com contexto completo\n// ═══════════════════════════════════════════════════\nconst context = $('Preparar Contexto').first().json;\nconst cart = $('Buscar Carrinho').first().json.data || { items: [], total: 0 };\nconst products = $('Buscar Catálogo').first().json.data || [];\nconst loyalty = $('Buscar Fidelidade').first().json.data || { points: 0, tier: 'bronze' };\n\nconst productList = products\n  .filter(p => p.stock_quantity > 0 || p.stock_unlimited)\n  .slice(0, 15)\n  .map(p => `ID:${p.id}|${p.name}|R$${Number(p.price).toFixed(2)}`)\n  .join('\\n');\n\nconst cartItems = (cart.items || [])\n  .map(i => `${i.quantity}x ${i.product_name} - R$ ${i.total_price.toFixed(2)}`)\n  .join('\\n');\n\nconst systemPrompt = `Você é Lari, assistente de uma loja de varejo. Seja simpática e direta.\n\nCLIENTE:\n- Nome: ${context.name || 'Não informado'}\n- Telefone: ${context.phone}\n- Pontos: ${loyalty.points}\n- Nível: ${loyalty.tier}\n\nCARRINHO ATUAL:\n${cartItems || 'Vazio'}\nTotal: R$ ${(cart.total || 0).toFixed(2)}\n\nCATÁLOGO (ID|nome|preço):\n${productList}\n\nREGRAS:\n1. Máximo 3 frases curtas\n2. 1 emoji por mensagem\n3. Use ID do produto para adicionar ao carrinho\n4. Confirme antes de finalizar\n\nRETORNE JSON:\n{\n  \"intent\": \"saudacao|consulta|pedido|add_cart|finalizar|humano\",\n  \"reply\": \"resposta ao cliente\",\n  \"cartAction\": { \"action\": \"add|remove|clear\", \"productId\": ID, \"quantity\": N },\n  \"tag\": \"lead_frio|lead_morno|lead_quente\"\n}`;\n\nreturn [{\n  json: {\n    context,\n    cart,\n    systemPrompt,\n    userMessage: context.message\n  }\n}];"
      },
      "id": "code-002",
      "name": "Montar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/openai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GEMINI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemini-2.0-flash\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.systemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }} }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": { "timeout": 20000 }
      },
      "id": "http-004",
      "name": "Gemini: Processar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Parsear resposta e preparar ações\n// ═══════════════════════════════════════════════════\nconst aiRaw = $input.first().json;\nconst context = $('Montar Prompt').first().json.context;\n\nlet aiData;\ntry {\n  aiData = JSON.parse(aiRaw.choices[0].message.content);\n} catch (e) {\n  aiData = {\n    intent: 'humano',\n    reply: 'Tive um probleminha! Vou te passar para um atendente. 😊',\n    tag: 'lead_morno'\n  };\n}\n\nreturn [{\n  json: {\n    context,\n    aiResponse: aiData,\n    needsAction: aiData.cartAction && aiData.cartAction.action,\n    needsHuman: aiData.intent === 'humano',\n    isCheckout: aiData.intent === 'finalizar'\n  }\n}];"
      },
      "id": "code-003",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.needsAction }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-001",
      "name": "IF: Ação no Carrinho?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/retail/cart/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"companyId\": {{ $json.context.companyId }},\n  \"phone\": \"{{ $json.context.phone }}\",\n  \"ticketId\": {{ $json.context.ticketId }},\n  \"productId\": {{ $json.aiResponse.cartAction.productId }},\n  \"quantity\": {{ $json.aiResponse.cartAction.quantity }}\n}",
        "options": {}
      },
      "id": "http-005",
      "name": "Adicionar ao Carrinho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-human",
              "leftValue": "={{ $json.needsHuman }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-002",
      "name": "IF: Precisa Humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/tickets/{{ $json.context.ticketId }}/transfer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reason\": \"humano_requested\",\n  \"notes\": \"Cliente solicitou atendimento humano\"\n}",
        "options": {}
      },
      "id": "http-006",
      "name": "Transferir para Humano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $('Preparar Contexto').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Preparar Contexto').first().json.phone }}\",\n  \"text\": \"{{ $('Processar Resposta').first().json.aiResponse.reply }}\"\n}",
        "options": {}
      },
      "id": "http-007",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"intent\": \"{{ $('Processar Resposta').first().json.aiResponse.intent }}\",\n  \"tag\": \"{{ $('Processar Resposta').first().json.aiResponse.tag }}\"\n}",
        "options": {}
      },
      "id": "respond-001",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [[{ "node": "Preparar Contexto", "type": "main", "index": 0 }]]
    },
    "Preparar Contexto": {
      "main": [[{ "node": "Buscar Carrinho", "type": "main", "index": 0 }]]
    },
    "Buscar Carrinho": {
      "main": [[{ "node": "Buscar Catálogo", "type": "main", "index": 0 }]]
    },
    "Buscar Catálogo": {
      "main": [[{ "node": "Buscar Fidelidade", "type": "main", "index": 0 }]]
    },
    "Buscar Fidelidade": {
      "main": [[{ "node": "Montar Prompt", "type": "main", "index": 0 }]]
    },
    "Montar Prompt": {
      "main": [[{ "node": "Gemini: Processar", "type": "main", "index": 0 }]]
    },
    "Gemini: Processar": {
      "main": [[{ "node": "Processar Resposta", "type": "main", "index": 0 }]]
    },
    "Processar Resposta": {
      "main": [[{ "node": "IF: Ação no Carrinho?", "type": "main", "index": 0 }]]
    },
    "IF: Ação no Carrinho?": {
      "main": [
        [{ "node": "Adicionar ao Carrinho", "type": "main", "index": 0 }],
        [{ "node": "IF: Precisa Humano?", "type": "main", "index": 0 }]
      ]
    },
    "Adicionar ao Carrinho": {
      "main": [[{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]]
    },
    "IF: Precisa Humano?": {
      "main": [
        [{ "node": "Transferir para Humano", "type": "main", "index": 0 }],
        [{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Transferir para Humano": {
      "main": [[{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar Resposta WhatsApp": {
      "main": [[{ "node": "Resposta Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Cuiaba"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "varejo" },
    { "name": "whatsapp" },
    { "name": "ia" },
    { "name": "mvp-2.0" }
  ]
}